@tailwind base;
@tailwind components;
@tailwind utilities;

*{font-family: "Poppins", serif;}
@media print {
    body {
      visibility: hidden;
    }
    .print-hidden{
        /* visibility: hidden; */
        display: none;
    }
    #printArea {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }